:root{
    --corPrimaria : black;
    --corSecundaria : #712e09;
    --corTercearia : #fff4e4;
    --corBranco: #ffffff;
    --corPreto: black;
    --corLaranja: #fd7e14;
}

.active{
    border-bottom: var(--corBranco) 2px solid;
}

#teste1{
    height: 530px;
}

body{
    background-color: var(--corPrimaria);
    color: var(--corBranco);
}

#grupoFilmesEmCartaz{
    flex-direction: column !important; 
}

#poltronas{
    background-image: url(../images/Icons/pessoa.svg);
}

#precoIngresso{
    background-image: url(../images/Icons/preço.svg);   
}

#poltronas , #precoIngresso{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}